*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

:root {
  --primary-color: #0a9c6f;
  --grey-900: #0d1919;
  --grey-800: #121b22;
  --grey-700: #1f2c34;
  --grey-600: #9f9fa1;
  --grey-500: #dfdfe1;
  --grey-300: #fefff6;
  --grey-200: #f1f2f6;
  --green-400: #138b80;
  --green-300: #2dca7a;
  --green-100: #dcf8c6;
  --primary-font: "Roboto", sans-serif;
}

body{
    background-color: var(--primary-color);
    padding: 40px;
}

.app{
    background-color:white;
    display: grid;
    grid-template-columns: 320px 1fr;
    height: 95vh;
    overflow: hidden;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 12px 40px rgba(0, 0, 0,0.25);
    max-width: 1100px;
}

/* aside styles */

aside{
    background-color: var(--grey-900);
    color: white;
}

aside header{
    background-color: var(--grey-800);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 10px 10px;
}

.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile img{
    width: 50px;
    border-radius: 50%;
}

.profile h2{
    font-size: 20px;
}

.actions{
    display: flex;
    justify-content: end;
    gap: 10px;
}

.actions button{
   padding: 5px;
   border: none;
   border-radius: 8px;
   cursor: pointer;
   background-color: var(--grey-800);
   transition: transform .2s;
}

.actions button svg{
    width: 16px;
}

.actions button:hover{
    background-color: var(--grey-700);
    transform: translateY(-4px);
}

/* search input */

.search{
    background-color: var(--grey-800);
    padding: 5px; 
    border-top: 2px solid var(--grey-700);
    border-bottom: 2px solid var(--grey-700);
    padding: 15px 10px;
    position: relative;
}

 .icon{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 20px;
    margin-left: 8px;
}

.search input{
    background-color: var(--grey-700);
    width: 100%;
    display: block;
    border: none;
    padding: 7px 7px 7px 33px; 
    border-radius: 6px;
    outline: none;
    color: white;
}

.search input:focus{
    outline: 1px solid #4a4848;
}

/* chats */

.chats{
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding: 10px;
}

.user-chat{
    background-color: var(--grey-900);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.user-chat img{
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.user-chat:hover{
    background-color: var(--grey-700);
    cursor: pointer;
    border-left: 3px solid var(--green-300);
}

/* header chat-panel */

.user-header{
    background-color: var(--grey-300);
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid var(--grey-600);
}

.user-header img{
    width: 55px;
    border-radius: 50%;
    margin: 12px;
    height: 55px;
}

.user-header p{
    color: var(--grey-600);
    font-size: 14px;
}

/* messages */

.chat-panel{
    display: flex;
    flex-direction: column;
}

.messages{
    background-image: url(../assets/fondo-2.jpg);
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}

.message{
    padding: 10px;
    width: 60%;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.238);
}

.me{
    align-self: end;
    background-color: var(--green-100);
}

.you{
    background-color: var(--grey-300);
}

.hour{
    text-align: end;
    font-size: 12px;
    color: var(--grey-600);
    margin-top: 10px;
}

/* footer */

footer{
    background-color: var(--grey-500);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 13px;
}

footer form button{
    width: 25px;
    height: 25px;
    padding: 3px;
    cursor: pointer;
}

footer svg{
    width: 100%;
    height: 100%;
}

footer .clip{
    background-color: var(--grey-500);
    border: none;
    transition: color .2s;
}

footer .clip:hover{
    color: var(--grey-600);
}

footer form{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
}

footer form textarea{
    width: 100%;
    padding: 5px;
    resize: none;
    border-radius: 10px;
    border: none;
}

footer form textarea:focus{
    outline: 1px solid var(--grey-700);
    border: none;
}

footer .send{
    background-color: var(--green-300);
    color: var(--grey-200);
    border: none;
    border-radius: 20px;
    width: 45px;
    height: 30px;
    padding: 5px;
    transition: all .2s;
}

footer .send:hover{
    background-color: var(--green-400);
    transform: scale(0.96);
}

@media (max-width: 880px) {
    .app{
        grid-template-columns: 1fr;
    }

    aside{
        display: none;
    }
}